@{
    ViewBag.Title = "Contact";
}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Home</a> /
    <span class="breadcrumb-item active">Contact</span>
</nav>


<div class="page-header">
    <h1>@ViewBag.Title <small>XLR8 Developement</small></h1>

</div>

<h3>Visit us at our facility: </h3>
<div class="panel panel-primary">
    <div class="panel-heading">Address:</div>
    <div class="panel-body">
        XLR8 Development<br />
        1285 N. Freedom Blvd <br />
        Provo, UT 84604<br />

        Phone: (801) 999-1234
    </div>
</div>


<h3>Send us an email: </h3>
<div class="row" id="contactForm">
    @using (Html.BeginForm())
    {
        <p>Name:<br /> @Html.TextBox("Name", null, new { @placeholder = "Name" }) </p>
        <p>Email: <br />@Html.TextBox("Email", null, new { @placeholder = "Email" }) </p>
        <p>
            Subject:<br /> @Html.DropDownList("SubjectNames")
        </p>
        <p>Message: <br />@Html.TextArea("Message", null, new { @placeholder = "Your message here" })</p>
        <input type="submit" value="Send Email">
    }
</div>