
@{
    ViewBag.Title = "MissionDetails";
}




<div class="page-header">
    <h1>@ViewBag.Name <small>President: @ViewBag.President</small></h1>
</div>



<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12" id="flag" style="text-align: center;">
            <img src="@ViewBag.Flag" style=" height: auto; width: 50vw; padding-right: 20px;"/>
            
        </div>
        
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-12" id="missioninfo">
            <div class="panel panel-primary">
                <div class="panel-heading">Address</div>
                <div class="panel-body">
                    <p style="white-space: pre-line"> @ViewBag.Address</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">People</div>
                <div class="panel-body">
                    <b>Language:</b> @ViewBag.Language
                    <br />
                    <b>Religion:</b> @ViewBag.DominateReligion
                    <br />
                    <b>Climate:</b> @ViewBag.Climate
                </div>
            </div>
        </div>
    </div>
</div>