
@{
    ViewBag.Title = "Missions";
}

<nav class="breadcrumb" style="position:fixed; z-index: 10000;">
    <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Home</a> /
    <span class="breadcrumb-item active">Missions</span>
</nav>

<div style="position: fixed; z-index: -99; width: 110vw; height: 110vh; margin-left:-10vw; ">
    <iframe frameborder="0" height="100%" width="100%"
            src="https://youtube.com/embed/CMw_38wWMw0?list=PLAYgY8SPtEWHfliXQmA9F4hPGkxpQ_2sg&autoplay=1&controls=0&showinfo=0&autohide=1"></iframe>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#gridSystemModal").modal('show');
    });
</script>

<link rel="stylesheet" media="all" href="/assets/application-150c68a5865fd940967b94f5df8649a0266bced728d892e8a76010765db855f7.css" data-turbolinks-track="true" />

<br />
<div style="text-align: center; margin-top: 30vh; margin-bottom: 45vh;">
    <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-top: 30vh;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridModalLabel">Mission Selection</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid bd-example-row">
                        <div class="row">
                            <div class="dropdown">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-small btn-default dropdown-toggle" data-toggle="dropdown">
                                        Choose A Mission
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="@Url.Action("MissionDetails", "Mission", new { missionName = "Bolivia-Cochabamba" })">Bolivia, Cochabamba</a></li>
                                        <li><a href="@Url.Action("MissionDetails", "Mission", new { missionName = "Louisiana-Baton-Rouge" })">Louisiana, Baton Rouge</a></li>
                                        <li><a href="@Url.Action("MissionDetails", "Mission", new { missionName = "Philippines-Tacloban" })">Philippines, Tacloban</a></li>
                                        <li><a href="@Url.Action("MissionDetails", "Mission", new { missionName = "Colorado-Fort-Collins" })">Colorado, Fort Collins</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bd-example bd-example-padded-bottom">
        <button type="button" class="btn btn-primary outline btn-lg btn-block" data-toggle="modal" data-target="#gridSystemModal" style="font-size: x-large;">
            Select A Mission <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>


</div>

    