
@{
    ViewBag.Title = "MissionDetails";
}




<div class="page-header">
    <h1>@ViewBag.Name <small>President: @ViewBag.President</small></h1>
</div>



<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12" id="flag" style="text-align: center;">
            <img src="@ViewBag.Flag" style=" height: auto; width: 50vw; padding-right: 20px;"/>
            
        </div>
        
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-12" id="missioninfo">
            <div class="panel panel-primary">
                <div class="panel-heading">Address</div>
                <div class="panel-body">
                    <p style="white-space: pre-line"> @ViewBag.Address</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">People</div>
                <div class="panel-body">
                    <b>Language:</b> @ViewBag.Language
                    <br />
                    <b>Religion:</b> @ViewBag.DominateReligion
                    <br />
                    <b>Climate:</b> @ViewBag.Climate
                </div>
            </div>
        </div>
    </div>
</div>





<!--  MARK: FAQ Section  -->

<div class="panel-group" id="accordion">
    <div class="panel-heading" style="text-align:center;"><h2>FAQ</h2></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How can I best prepare for my mission?</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                Your most important preparation will be spiritual. Find out how you can prepare to help others receive the restored gospel and come unto Christ.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How can I best learn the language?</a>
            </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
                Learning to teach effectively in your mission language requires diligent effort. Do not be surprised if the task seems hard at first. 
                Learning a language takes time. Be patient with yourself. Seek the help of your companion, members, investigators, and other missionaries.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">When should I serve a mission?</a>
            </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body">
                When changes to the missionary age eligibility were announced, it is possible your “life plan” was altered and you’re no longer sure when you should go. When to serve a mission is an important decision. 
                Read on to find helpful suggestions about when to serve and how to prepare so that you’ll be ready whenever the Lord needs you.
            </div>
        </div>
    </div>
    </div>









<!--  MARK: New Question Form  -->

<br />
<br />

<div class="alert alert-success" id="alert" style="display:none;">
    <a href="#" class="close" aria-label="close" onclick="$('.alert').hide();">&times;</a>
    <strong>Sorry!</strong> Your question was not saved, because this is a fake website anyway.
</div>

<div class="container" style="text-align: center;">
<div class="row">
    <input id="name" class="input" name="name" type="text" value="" size="30" placeholder="Name" /><br />
</div>
<div class="row">
    <br />
        <textarea id="message" class="input" name="message" rows="7" cols="30" placeholder="Type your question here"></textarea><br />
</div>
    <br />
    <button id="submit_button" value="Send email" onclick="$('.alert').show(); $('#name').val(''); $('#email').val(''); $('#message').val('');">Add Question</button>
</div>
