@model IEnumerable<MissionSite.Models.Missions>
@{
    ViewBag.Title = "MissionDetails";
}

@foreach (var item in Model)
{ 
<nav class="breadcrumb" style="position:fixed; z-index: 10000;">
    <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Home</a> /
    <a class="breadcrumb-item" href="@Url.Action("Missions", "Mission")">Missions</a> /
    <span class="breadcrumb-item active">Mission Details</span>
</nav>

<div class="page-header">
    <h1>@ViewBag.Name <small>President:</small> @Html.DisplayFor(model => item.MissionPresident)</h1>
</div>



<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12" id="flag" style="text-align: center;">
            <img src="@Html.DisplayFor(model => item.MissionFlag)" style=" height: auto; width: 50vw; padding-right: 20px;" />
            
        </div>
        
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-12" id="missioninfo">
            <div class="panel panel-primary">
                <div class="panel-heading">Address</div>
                <div class="panel-body">
                    <p style="white-space: pre-line"> 
                        @Html.DisplayFor(model => item.MissionName) Mission<br />@Html.DisplayFor(model => item.MissionStreet1)<br />@Html.DisplayFor(model => item.MissionStreet2)<br />@Html.DisplayFor(model => item.MissionCountryCode)
                    </p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">People</div>
                <div class="panel-body">
                    <b>Language:</b> @Html.DisplayFor(model => item.MissionLanguage)
                    <br />
                    <b>Religion:</b> @Html.DisplayFor(model => item.MissionReligion)
                    <br />
                    <b>Climate:</b> @Html.DisplayFor(model => item.MissionClimate)
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <a href="@Url.Action("FAQ", "Mission", new { missionID = @item.MissionID })">View FAQs for @Html.DisplayFor(modelItem => item.MissionName)</a>

</div>
}








